
.bg-container{
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/newsbg.png");
    background-size: cover;
    height:100vh;
    width:400px;
}

.heading{
    font-family:Bree Serif;
    color:rgb(24, 24, 82);
    font-size: 15px;
}

.para{
    font-family:bold:
}

.para1{
    font-family:"Roboto";
    font-size: 15px;
}

.technologies-card{
    
    padding: 15px;
    border-top-right-radius: 10px;
    border-top-left-radius:10px ;
    background-color: white;
}

.button{
    background-color: rgb(54, 56, 56);
    color:white;
    border-width: 0px;
    border-radius: 5px;
}